:root {
    /* Modo claro */
    --background-color: #fafafa;
    --text-color: #0c0918;
    --primary-color: #463beb;
    --secondary-color: #eda71a;
    --income-color: #128c5b;
    --expenses-color: #db2c2c;
    --font-general: "Urbanist", sans-serif;
    --font-featured: "Anton", sans-serif;
}

.dark-mode {
    /* Modo oscuro */
    --background-color: #0c0918;
    --text-color: #fafafa;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

